---
layout: default
---

<div class="div-headshot">
    <img class="headshot" src="assets/photoweb.jpg" alt="Headshot" />
</div>

<div class="home">
  
  <p>Hello, my name is Albert and I'm a happy <em>Full Stack Developer</em> and passionate <em>Programming Teacher</em> currently living in Barcelona. I do believe in concepts like clean code, best practices and continuous learning.</p>

  <p>I have solid skills on object-oriented programming, database design, data analysis, data visualization, project management and UI & UX design. My professional focus at this moment is on <em>.NET</em>, <em>React</em> and <em>Flutter</em>. There is more detailed information about my current tech stack and all technologies I have used at some point in my career on the <a href="/skills">Skills</a> page.

  <p>When I'm away from my computer, I love running (from short distances to marathon), spending time with my wife, reading novels and non fiction books, listening to podcasts, cooking and most of Apple devices.</p>

  <!-- 
  {%- if site.posts.size > 0 -%}
    <h3 class="post-list-heading">Continuous Learning Newsletter</h3>
    <ul class="post-list">
      {%- assign posts = site.posts | slice: 0, 10 -%}
      {%- for post in posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta-home">{{ post.date | date: date_format }}</span>
        <a class="post-link-home" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  -->

</div>
