---
layout: default
---

<div class="home">
  
  <p>Hello, my name is Albert and I'm a happy software developer and passionate programming teacher currently living in Barcelona. I do believe in concepts like clean code, best practices, and trying to continuously learn new stuff.</p>

  <p>I have solid skills on object-oriented programming, database design, data analysis, data visualization, project management and UI & UX design. My professional focus at this moment is on <a href="https://flutter.dev">Flutter</a> and <a href="https://dotnet.microsoft.com">.NET</a>.</p>

  <p>There is more detailed information about my current tech stack and all technologies I have used at some point in my career on the <a href="/skills">Skills</a> page.

  <p>When I'm away from my computer, I love running (from short distances to marathon), spending time with my wife, reading novels and non fiction books, listening to podcasts, cooking and most of Apple devices.</p>

  <hr />

  {%- if site.posts.size > 0 -%}
    <h3 class="post-list-heading">Latest articles</h3>
    <ul class="post-list">
      {%- assign posts = site.posts | slice: 0, 10 -%}
      {%- for post in posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta-home">{{ post.date | date: date_format }}</span>
        <a class="post-link-home" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
